.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home-layout {
  display: flex;
  height: 100%;
  width: 100%;
}

.home-sidebar {
  width: 350px;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  border-right: 1px solid #2d2d2d;
}

.home-main {
  flex: 1 1 0;
  height: 100%;
  min-width: 0;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 768px) {
  .home-sidebar {
    width: 100%;
    max-width: 100%;
  }

  .home-layout {
    flex-direction: column;
  }

  .home-main {
    height: 50%;
  }
}